.message{
  margin-bottom: 10px;
  max-width: 900px;
  min-width: 100px;
  &.myMessage {
    margin-left: auto;
  }
  .message_sender{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    .send_date{
      font-size: 12px;
      font-weight: 300;
      &.dateMessage{

          margin-left: auto;

      }
    }
    .disNone{
      display: none;
    }
  }
  .send_date{
    font-size: 12px;
    font-weight: 300;
  }
  .message_value{
    display: flex;

    &.message_right{
      justify-content: right;
    }

    label{
      background: #0091ff;
      padding: 5px;
      color: #fff;
      border-radius: 15px;
      text-align: left;
      min-height: 30px;
    }


  }
}